.button {
  text-transform: uppercase;
}

.disabled {
  opacity: 0.6;
}

.colorPrimary {
  background-color: var(--color-accent);
  color: var(--color-primary-light);
}

.colorPrimary:hover {
  background-color: var(--color-accent-hover);
}

.colorPrimary:active {
  background-color: var(--color-accent-hover);
}

.colorSecondary {
  background-color: var(--color-secondary);
  color: var(--color-secondary-dark);
}

.colorSecondary:hover {
  background-color: var(--color-secondary-light);
}

.colorSecondary:active {
  background-color: var(--color-secondary-light);
}

.button:active .children {
  opacity: 0.3;
}


.loader {
  width: 16px;
  height: 16px;
  border: 2px solid var(--color-primary-light);
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
